body{
  background-color: #f5f5f5;
}
.container{
  width: 1500px;
}
.site-ad-bar{
  background: url("../首页/1.jpg") no-repeat center;
  height: 100px;
}
.site-header{
  margin-top: 10px;
  line-height: 30px;
  font-size: 10px;
}
.navbar .nav > li .dropdown-menu {
  margin: 0;
}
.navbar .nav > li:hover .dropdown-menu {
  display: block;
}
.bai{
  background-color: white;
  margin-top: 23px;
}
.mi{
  background-color:rgb(255,103,2);
  margin-left: 15px;
  margin-top: -10px;
}
.wide{
  width: 110px;
}

.right-1{
  height: 40px;
  padding: 0;
}
.right-2{
  padding: 10px 40px;
  margin-left: 150px;
}
.breadcrumb >li + li:before{
  content:">";
}
.bai-1{
  top: 0;
  background-color: white;
  padding-top: 9px;
  height: 80px;
}
.raw{
  background-color: white;
}
.uc-nav-box .box-hd .title {
  margin: 30px 48px 15px;
  font-size: 20px;
  font-weight: 300;
  line-height: 52px;
  color: #333;
}
li{
  list-style: none;
  font-size: 18px;
  height: 40px;
}
.active{
  font-size: 18px;
}
a{
  height: 40px;
  padding-left: 10px;
  color: #5f5f5f;
  font-size: 18px;
}
.cs{
  color: rgb(255,103,2);
}
.geshi-1{
  padding-left: 280px;
  padding-top: 85px;
  background-color: white;
  height: 300px;
}
.geshi-2{
  background-color: white;
  font-size: 35px;
  margin-left: 25px;
}
.geshi-2-1{
  position: absolute;
  background-color: white;
  font-size: 25px;
  margin-left: 180px;
  margin-top: -190px;
}
.geshi-3{
  margin-top: -75px;
  font-size: 18px;
  margin-left: 10px;
}
.link{
  padding-left: 11px;
  font-size: 18px;

}
.link-1{
  font-size: 18px;
  padding-left: 30px;
  top:30px;
  position: relative;
}
.ps{
  background-color: white;
  padding: 0;
}
.gs{
  height: 680px;
  width: 1220px;
  margin-left: 0;
}
.gs-1{
  border-right: 1px solid rgb(216,216,215);
  font-size: 25px;
}
.avatar{
  width: 200px;
  height: 200px;
  margin-left: -230px;
  border-radius: 50%;
  background-color: white;
}
.avatar-1{
  margin-left: 760px;
  margin-top: -140px;
}
.avatar-2{
  width: 150px;
  height: 150px;
  margin: 80px 0;
}


.zhongse{
  background-color:#f5f5f5;
  margin-top: 30px;
}
.shuzi{
  margin-top: 20px;
  font-size: 30px;
  color: rgb(254,71,0);
}
.anniu{
  margin-top: 25px;
  margin-left: 50px;
  border: 1px solid rgb(254,71,0);
  background-color: white;
  color: rgb(254,71,0);
}
.ysx{
  margin-top: 80px;
  border-bottom: 1px solid rgb(216,216,215);
}
.sx{
  margin-top: 50px;
  border-right: 1px solid rgb(216,216,215);
}.top1{
   width: 70px;
   height: 70px;
   margin-top: 35px;
 }
.dibu1{
  margin-top:40px;
  margin-left: 15px;
}
.dibu2{
  padding: 5px;
  color: black;
  font-size: 14px;
}
.sep{
  margin: 0;
  font-family: sans-serif;
}
.dibuwenzi{
  width: 880px;
  margin-top: -40px;
  margin-left: 90px;
}
.right1{
  margin-left: 1020px;
  margin-top: -65px;
}
.di-bu{
  padding: 30px;
  font-size: 30px;
  color:rgb(216,216,215) ;
}
.mxs{
  border-top:1px solid #ff6709;
}
.p5{
  font-size: 18px;
  margin: 30px 0;
  color: black;
}
.p6{
  margin-top: 15px;
  color: #5f5f5f;
}
.p6{
  margin-top: 10px;
  color: #5f5f5f;
}
.dibu{
  padding-bottom: 70px;
}
.shuxian{
  border-right: 1px solid #f5f5f5;
}
